<template>
	<Card
		v-if="bottle"
		class="bottle"
		:class="{ active: active }"
		@click="$emit('click')"
	>
		<img :src="`https://api.cocktails.ink${localeBottle.image.path}`" />
		<h3>{{ localeBottle.name }}</h3>
	</Card>
</template>

<script>
import Card from '~/components/general/Card'

export default {
	name: 'BottleCard',
	components: {
		Card,
	},
	props: {
		bottle: {
			type: Object,
			default: () => {},
		},
		active: {
			type: Boolean,
			default: false,
		},
	},
	computed: {
		localeBottle() {
			if (this.currentLanguage === 'de') {
				return {
					...this.bottle,
					name: this.bottle.name_de,
					description: this.bottle.description_de,
				}
			} else {
				return this.bottle
			}
		},
	},
}
</script>

<style lang="scss" scoped>
.bottle {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px 0 0;
	height: 160px;
	width: 120px;
	scroll-snap-align: start;
	transition: border 200ms;
	&.active {
		border: 1px solid rgb(245, 169, 93);
	}
	img {
		margin-top: -40px;
		height: 130px;
	}
	h3 {
		margin: 1em 0 0;
		justify-items: end;
		align-self: start;
	}
}
</style>
