<template>
	<nuxt-link
		:to="localePath(`/cocktails/${cocktail.name_slug}`)"
		class="cocktail"
	>
		<Card class="card">
			<img
				v-if="cocktail.image"
				:src="`https://api.cocktails.ink${cocktail.image.path}`"
			/>
			<div>
				<h3>{{ cocktail.name }}</h3>
				<p>{{ cocktail.short_description }}</p>
			</div>
		</Card>
	</nuxt-link>
</template>

<script>
import Card from '~/components/general/Card'

export default {
	name: 'CocktailCard',
	components: {
		Card,
	},
	props: {
		cocktail: {
			type: Object,
			default: () => {},
		},
	},
}
</script>

<style lang="scss" scoped>
.cocktail {
	display: block;
	min-width: 100%;
	scroll-snap-align: start;
}

.card {
	display: flex;
	width: 100%;
}

img {
	display: block;
	justify-self: center;
	height: 100%;
	width: 80px;
	margin: 0 20px 0 0;
}

h3 {
	margin: 0 0 0.5em;
}
</style>
