<template>
	<nuxt-link
		v-if="cocktail"
		:to="localePath(`/cocktails/${cocktail.name_slug}`)"
		class="cocktail"
	>
		<Card>
			<img
				v-if="cocktail.image"
				:src="`https://api.cocktails.ink${cocktail.image.path}`"
				:alt="cocktail.name"
			/>
			<div>
				<h3>{{ cocktail.name }}</h3>
				<p>{{ cocktail.short_description }}</p>
			</div>
		</Card>
	</nuxt-link>
</template>

<script>
import Card from '~/components/general/Card'
export default {
	name: 'CocktailOfTheWeekCard',
	components: {
		Card,
	},
	props: {
		cocktail: {
			type: Object,
			default: () => {},
		},
	},
}
</script>

<style lang="scss" scoped>
.cocktail {
	display: block;
	margin: 60px auto 0;
	width: 75vw;
	max-width: 400px;
}

img {
	display: block;
	margin: -60px auto 0;
	width: 75%;
}

h3 {
	margin: 1em 0 0.5em;
	font-size: 1.1em;
}
</style>
