<template>
	<Card v-if="ingredient" class="ingredient">
		<p>{{ ingredient.quantity }}</p>
		<h3>{{ ingredient.ingredient }}</h3>
	</Card>
</template>

<script>
import Card from '~/components/general/Card'

export default {
	name: 'IngredientCard',
	components: {
		Card,
	},
	props: {
		ingredient: {
			type: Object,
			default: () => {},
		},
	},
}
</script>

<style lang="scss" scoped>
.ingredient {
	scroll-snap-align: start;
}

h3 {
	margin: 0.2em 0 0;
	white-space: nowrap;
}
</style>
