<template>
	<Card v-if="step" class="step">
		<p>{{ step }}</p>
		<h3>{{ $t('step') }} {{ order }}</h3>
	</Card>
</template>

<script>
import Card from '~/components/general/Card'

export default {
	name: 'StepCard',
	components: {
		Card,
	},
	props: {
		step: {
			type: String,
			default: '',
		},
		order: {
			type: Number,
			default: 1,
		},
	},
}
</script>

<style lang="scss" scoped>
.step {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 10px 0 0;
	min-width: 100%;
	scroll-snap-align: start;
}

h3 {
	margin: 0.2em 0 0;
}
</style>
