@import url('~assets/styles/fonts.css');

html {
	font-family: 'Inter', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

.mobile {
	scrollbar-width: none;
	-ms-overflow-style: none;
	* {
		user-select: none;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			width: 0;
			background: transparent;
			display: none;
		}
	}
	&::-webkit-scrollbar {
		width: 0;
		background: transparent;
		display: none;
	}

	a,
	button {
		user-select: auto;
	}
}

body {
	background-color: #fff;
	color: #1a1a1a;
}

.blur {
	backdrop-filter: blur(8px);
	background: rgba(255, 255, 255, 0.6);
	perspective: 1000px;
}

.dark-mode {
	body {
		background-color: #1a1a1a;
		color: #e0e0e0;
	}
	svg {
		color: #ffffff;
	}
	.blur {
		background: rgba(26, 26, 26, 0.6);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

h1,
h2,
h3,
h4 {
	margin: 2em 0 1em;
}

h1 {
	font-size: 2.2em;
}

h2 {
	position: relative;
	font-size: 1em;
	font-weight: 600;
	padding-left: 10px;
	&::before {
		content: ' ';
		position: absolute;
		top: 0;
		left: 0px;
		display: block;
		height: 100%;
		width: 4px;
		background: linear-gradient(154deg, #ffde5f 0%, #f5a95d 100%);
	}
}

h3 {
	font-weight: 600;
	font-size: 0.9em;
}

p {
	font-size: 0.8em;
}

a {
	color: inherit;
	text-decoration: none;
}

.slider {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-padding: 20px;
	scroll-snap-type: x mandatory;
	margin: 0 -20px;
	padding: 0 20px;
	width: 100vw;
}

.safeTop {
	padding-top: constant(safe-area-inset-top);
	padding-top: env(safe-area-inset-top);
}

.safeRight {
	padding-right: constant(safe-area-inset-right);
	padding-right: env(safe-area-inset-right);
}

.safeBottom {
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

.safeLeft {
	padding-left: constant(safe-area-inset-left);
	padding-left: env(safe-area-inset-left);
}
