<template>
	<div class="container" :class="{ mobile: mobile }">
		<header class="blur" :class="{ showBackButton: !isRoot }">
			<BackButton v-if="!isRoot" @click="back" />
		</header>
		<transition :name="transitionName">
			<Nuxt class="page" />
		</transition>
		<Footer v-if="!mobile && !inTransition" />
	</div>
</template>

<script>
import BackButton from '~/components/general/BackButton.vue'
import Footer from '~/components/general/Footer.vue'

export default {
	data() {
		return {
			inTransition: false,
			transitionName: 'slide-right',
		}
	},
	components: {
		BackButton,
		Footer,
	},
	computed: {
		mobile() {
			return process.env.mobile
		},
		isRoot() {
			const { path } = this.$route
			return path === '/' || path === '/de'
		},
	},
	methods: {
		back() {
			if (
				(this.$route.name.includes('collection') ||
					this.$route.name.includes('cocktails')) &&
				!this.$route.params.slug
			) {
				this.$router.push(this.localeRoute('/'))
			} else {
				this.$router.back()
			}
		},
	},
	watch: {
		$route(to, from) {
			const toDepth = to.path.split('/').length
			const fromDepth = from.path.split('/').length
			this.transitionName =
				toDepth < fromDepth ? 'page-slide-right' : 'page-slide-left'
			if (to.path === '/') {
				this.transitionName = 'page-slide-right'
			} else if (from.path === '/') {
				this.transitionName = 'page-slide-left'
			}
			if (process.env.mobile) {
				this.$Haptics.impact({
					style: 'LIGHT',
				})
			}
			this.inTransition = true
			setTimeout(() => (this.inTransition = false), 400)
		},
	},
}
</script>

<style lang="scss">
header {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	width: 100%;
	padding: 0 80px;
	z-index: 1;
	transition: padding 20ms;

	&.showBackButton {
		padding: 20px 20px 10px;
	}
}

.mobile {
	header {
		padding-top: calc(env(safe-area-inset-top) + 10px);
		&.showBackButton {
			padding: calc(env(safe-area-inset-top) + 10px) 20px 10px;
		}
	}
}

.container {
	max-height: 100vh;
	scroll-behavior: smooth;
	max-width: 100%;
	overflow-x: hidden;
	padding: 0 0 2em;
}

.page {
	min-height: 80vh;
	margin: 0 auto;
}

.page-slide-right-enter-active,
.page-slide-left-enter-active {
	z-index: 99;
}

.page-slide-left-enter-active,
.page-slide-left-leave-active,
.page-slide-right-enter-active,
.page-slide-right-leave-active {
	position: fixed !important;
	width: 100%;
	overflow: hidden;
	transition: all 200ms cubic-bezier(0, 1, 0.26, 0.86);
}

.page-slide-right-enter {
	transform: translateX(-10vw);
}

.page-slide-left-enter {
	transform: translateX(10vw);
}

.page-slide-right-leave-to {
	opacity: 0;
	filter: brightness(0.5);
	transform: scale(0.9) translateX(10vw);
}

.page-slide-left-leave-to {
	opacity: 0;
	filter: brightness(0.5);
	transform: scale(0.9) translateX(-10vw);
}
</style>
