<template>
	<div class="page">
		<h1>Datenschutzerklärung</h1>
		<p>
			Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der
			EU-Datenschutzgrundverordnung (DSGVO), ist:
		</p>
		<p>Wolves Software UG (haftungsbeschränkt)</p>
		<h2>Ihre Betroffenenrechte</h2>
		<p>
			Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten
			können Sie jederzeit folgende Rechte ausüben:
		</p>
		<ul>
			<li>
				Auskunft über Ihre bei uns gespeicherten Daten und deren
				Verarbeitung (Art. 15 DSGVO),
			</li>
			<li>
				Berichtigung unrichtiger personenbezogener Daten (Art. 16
				DSGVO),
			</li>
			<li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
			<li>
				Einschränkung der Datenverarbeitung, sofern wir Ihre Daten
				aufgrund gesetzlicher Pflichten noch nicht löschen dürfen (Art.
				18 DSGVO),
			</li>
			<li>
				Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21
				DSGVO) und
			</li>
			<li>
				Datenübertragbarkeit, sofern Sie in die Datenverarbeitung
				eingewilligt haben oder einen Vertrag mit uns abgeschlossen
				haben (Art. 20 DSGVO).
			</li>
		</ul>
		<p>
			Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese
			jederzeit mit Wirkung für die Zukunft widerrufen.
		</p>
		<p>
			Sie können sich jederzeit mit einer Beschwerde an eine
			Aufsichtsbehörde wenden, z. B. an die zuständige Aufsichtsbehörde
			des Bundeslands Ihres Wohnsitzes oder an die für uns als
			verantwortliche Stelle zuständige Behörde.
		</p>
		<p>
			Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich)
			mit Anschrift finden Sie unter:
			<a
				href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
				target="_blank"
				rel="nofollow noopener"
				>https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a
			>.
		</p>
		<p></p>
		<h2>Erfassung allgemeiner Informationen beim Besuch unserer Website</h2>
		<h3>Art und Zweck der Verarbeitung:</h3>
		<p>
			Wenn Sie auf unsere Website zugreifen, d.h., wenn Sie sich nicht
			registrieren oder anderweitig Informationen übermitteln, werden
			automatisch Informationen allgemeiner Natur erfasst. Diese
			Informationen (Server-Logfiles) beinhalten etwa die Art des
			Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres
			Internet-Service-Providers, Ihre IP-Adresse und ähnliches.
		</p>
		<p>Sie werden insbesondere zu folgenden Zwecken verarbeitet:</p>
		<ul>
			<li>
				Sicherstellung eines problemlosen Verbindungsaufbaus der
				Website,
			</li>
			<li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
			<li>Auswertung der Systemsicherheit und -stabilität sowie</li>
			<li>zur Optimierung unserer Website.</li>
		</ul>
		<p>
			Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu
			ziehen. Informationen dieser Art werden von uns ggfs. anonymisiert
			statistisch ausgewertet, um unseren Internetauftritt und die
			dahinterstehende Technik zu optimieren.
		</p>
		<h3>Rechtsgrundlage und berechtigtes Interesse:</h3>
		<p>
			Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis
			unseres berechtigten Interesses an der Verbesserung der Stabilität
			und Funktionalität unserer Website.
		</p>
		<h3>Empfänger:</h3>
		<p>
			Empfänger der Daten sind ggf. technische Dienstleister, die für den
			Betrieb und die Wartung unserer Webseite als Auftragsverarbeiter
			tätig werden.
		</p>
		<p></p>
		<h3>Speicherdauer:</h3>
		<p>
			Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung
			nicht mehr erforderlich sind. Dies ist für die Daten, die der
			Bereitstellung der Website dienen, grundsätzlich der Fall, wenn die
			jeweilige Sitzung beendet ist.
		</p>
		<p></p>
		<h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
		<p>
			Die Bereitstellung der vorgenannten personenbezogenen Daten ist
			weder gesetzlich noch vertraglich vorgeschrieben. Ohne die
			IP-Adresse ist jedoch der Dienst und die Funktionsfähigkeit unserer
			Website nicht gewährleistet. Zudem können einzelne Dienste und
			Services nicht verfügbar oder eingeschränkt sein. Aus diesem Grund
			ist ein Widerspruch ausgeschlossen.
		</p>
		<p></p>
		<h2>Technisch nicht notwendige Cookies</h2>
		<p>
			Des Weiteren setzen wir Cookies ein, um das Angebot auf unserer
			Website besser auf die Interessen unserer Besucher abzustimmen oder
			auf Basis statistischer Auswertungen allgemein zu verbessern.
		</p>
		<p>
			Welche Anbieter Cookies setzen, entnehmen Sie bitte den unten
			aufgeführten Informationen zu den eingesetzten Darstellungs-,
			Tracking-, Remarketing- und Webanalyse-Technologien.
		</p>
		<h3>Rechtsgrundlage:</h3>
		<p>
			Rechtsgrundlage für diese Verarbeitungen ist jeweils Ihre
			Einwilligung, Art. 6 Abs. 1 lit. a DSGVO.
		</p>
		<h3>Empfänger:</h3>
		<p>
			Empfänger der Daten sind ggf. technische Dienstleister, die für den
			Betrieb und die Wartung unserer Website als Auftragsverarbeiter
			tätig werden.
		</p>
		<p>
			Weitere Empfänger entnehmen Sie bitte den unten aufgeführten
			Informationen zu den eingesetzten Darstellungs-, Tracking-,
			Remarketing- und Webanalyse-Technologien.
		</p>
		<h3>Drittlandtransfer:</h3>
		<p>
			Informationen hierzu entnehmen Sie bitte aus den Auflistungen der
			einzelnen Darstellungs-, Tracking-, Remarketing- und
			Webanalyse-Anbietern.
		</p>
		<h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
		<p>
			Natürlich können Sie unsere Website grundsätzlich auch ohne Cookies
			betrachten. Webbrowser sind regelmäßig so eingestellt, dass sie
			Cookies akzeptieren. Im Allgemeinen können Sie die Verwendung von
			Cookies jederzeit über die Einstellungen Ihres Browsers deaktivieren
			(siehe Widerruf der Einwilligung).
		</p>
		<p>
			Bitte beachten Sie, dass einzelne Funktionen unserer Website
			möglicherweise nicht funktionieren, wenn Sie die Verwendung von
			Cookies deaktiviert haben.
		</p>
		<h3>Widerruf der Einwilligung:</h3>
		<p>
			Sie können Ihre Einwilligung jederzeit über unser
			Cookie-Consent-Tool widerrufen.
		</p>
		<h3>Profiling:</h3>
		<p>
			Inwiefern wir das Verhalten von Websitebesuchern mit
			pseudonymisierten Nutzerprofilen analysieren, entnehmen Sie bitte
			den unten aufgeführten Informationen zu den eingesetzten
			Darstellungs-, Tracking-, Remarketing- und Webanalyse-Technologien.
		</p>
		<p></p>
		<h2>SSL-Verschlüsselung</h2>
		<p>
			Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen,
			verwenden wir dem aktuellen Stand der Technik entsprechende
			Verschlüsselungsverfahren (z. B. SSL) über HTTPS.
		</p>
		<p></p>
		<hr />
		<h2>Information über Ihr Widerspruchsrecht nach Art. 21 DSGVO</h2>
		<h3>Einzelfallbezogenes Widerspruchsrecht</h3>
		<p>
			Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen
			Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender
			personenbezogener Daten, die aufgrund Art. 6 Abs. 1 lit. f DSGVO
			(Datenverarbeitung auf der Grundlage einer Interessenabwägung)
			erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese
			Bestimmung gestütztes Profiling im Sinne von Art. 4 Nr. 4 DSGVO.
		</p>
		<p>
			Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten
			nicht mehr verarbeiten, es sei denn, wir können zwingende
			schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre
			Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung
			dient der Geltendmachung, Ausübung oder Verteidigung von
			Rechtsansprüchen.
		</p>
		<h3>Empfänger eines Widerspruchs</h3>
		<p>Wolves Software UG (haftungsbeschränkt)</p>
		<hr />
		<h2>Änderung unserer Datenschutzbestimmungen</h2>
		<p>
			Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit
			sie stets den aktuellen rechtlichen Anforderungen entspricht oder um
			Änderungen unserer Leistungen in der Datenschutzerklärung
			umzusetzen, z.B. bei der Einführung neuer Services. Für Ihren
			erneuten Besuch gilt dann die neue Datenschutzerklärung.
		</p>
		<h2>Fragen an den Datenschutzbeauftragten</h2>
		<p>
			Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine
			E-Mail oder wenden Sie sich direkt an die für den Datenschutz
			verantwortliche Person in unserer Organisation:
		</p>
		<p>datenschutz@wolves.ink</p>
		<p>
			<em
				>Die Datenschutzerklärung wurde mithilfe der activeMind AG
				erstellt, den Experten für
				<a
					href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
					target="_blank"
					rel="noopener"
					>externe Datenschutzbeauftragte</a
				>
				(Version #2020-09-30).</em
			>
		</p>
	</div>
</template>

<script>
export default {
	name: 'Datenschutz',
	head() {
		return {
			title: `Cocktails | Datenschutz`,
			link: [
				{
					hid: 'canonical',
					rel: 'canonical',
					href: `https://cocktails.ink${this.$route.fullPath}`,
				},
			],
		}
	},
}
</script>

<style lang="scss" scoped>
.page {
	padding: 100px 10%;
	@media (min-width: 1600px) {
		padding: 100px 160px;
	}
}

h1,
h2,
h3,
p {
	margin-bottom: 1em;
}
</style>
