<template>
	<div class="safeTop safeBottom">
		<div class="head">
			<img src="~/assets/images/Logo.png" alt="Logo" />
			<h1>Cocktails</h1>
		</div>
		<main>
			<h2>{{ $t('cocktailOfTheWeek') }}</h2>
			<CocktailOfTheWeekCard :cocktail="cocktailOfTheWeek" />
			<h2>{{ $t('basics') }}</h2>
			<div class="slider bottleList">
				<nuxt-link
					v-for="bottle in alcohol"
					:key="bottle.name"
					:to="
						localePath({
							name: 'cocktails',
							query: { alcohol: bottle._id },
						})
					"
				>
					<BottleCard :bottle="bottle" />
				</nuxt-link>
			</div>
			<div v-if="savedCocktails.length">
				<h2>
					{{ $t('collection') }}
					<nuxt-link
						class="showAll"
						:to="localePath(`/collection`)"
						>{{ $t('showAll') }}</nuxt-link
					>
				</h2>
				<div class="slider cocktailsList">
					<CocktailCard
						v-for="cocktail in savedCocktails"
						:key="cocktail._id"
						:cocktail="cocktail"
					/>
				</div>
			</div>
			<h2>
				{{ $t('cocktails') }}
				<nuxt-link class="showAll" :to="localePath(`/cocktails`)">{{
					$t('showAll')
				}}</nuxt-link>
			</h2>
			<div class="slider cocktailsList">
				<CocktailCard
					v-for="cocktail in cocktails.slice(0, 5)"
					:key="cocktail._id"
					:cocktail="cocktail"
				/>
			</div>
		</main>
	</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { convertToSlug } from '~/assets/scripts/utils.js'
import CocktailCard from '~/components/cocktail/cocktailCard.vue'
import CocktailOfTheWeekCard from '~/components/cocktail/cocktailOfTheWeekCard.vue'
import BottleCard from '~/components/cocktail/bottleCard.vue'

export default {
	name: 'Home',
	async asyncData({ store, $Storage }) {
		if (process.env.mobile) {
			const state = await $Storage.get({
				key: 'store',
			})
			if (state) {
				const data = JSON.parse(state.value)
				if (data) {
					Object.entries(data).forEach(([key, value]) => {
						store.commit('init', { key, value })
					})
				}
			}
		}
		store.dispatch('getCocktails')
		store.dispatch('getAlcohol')
		store.dispatch('getCocktailOfTheWeek')
	},
	computed: {
		...mapState(['alcohol', 'collection']),
		...mapGetters({
			cocktails: 'getCocktails',
			getCocktail: 'getCocktailById',
			cocktailOfTheWeek: 'getCocktailOfTheWeek',
		}),
		savedCocktails() {
			return this.collection.map((id) => {
				return this.getCocktail(id)
			})
		},
	},
	components: {
		BottleCard,
		CocktailOfTheWeekCard,
		CocktailCard,
	},
}
</script>

<style lang="scss" scoped>
.page {
	padding: 2em 20px;
}

main {
	margin: 0 auto;
	max-width: 1200px;
}

.head {
	display: flex;
	h1 {
		margin: 0 0 0 10px;
	}
	img {
		height: 2.2em;
	}
}

.cocktailsList > * {
	margin-right: 10px;
}

.bottleList > * {
	margin-right: 6px;
}

.showAll {
	opacity: 0.8;
	vertical-align: bottom;
	font-size: 0.8em;
	line-height: 1em;
	float: right;
	transition: opacity 0.2s;
	&:hover {
		opacity: 1;
	}
}

@media (min-width: 600px) {
	.page {
		padding: 2em 80px;
	}

	.cocktailsList {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		width: unset;
		> * {
			margin-right: 0;
		}
	}
}
</style>
