<template>
	<button @click="$emit('click')">
		<svg
			aria-hidden="true"
			focusable="false"
			data-prefix="fas"
			data-icon="chevron-left"
			class="svg-inline--fa fa-chevron-left fa-w-10"
			role="img"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 320 512"
		>
			<path
				fill="currentColor"
				d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"
			></path>
		</svg>
	</button>
</template>

<script>
export default {
	name: 'BackButton',
}
</script>

<style lang="scss" scoped>
button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: #fff;
	height: 40px;
	width: 40px;
	border-radius: 6px;
	box-shadow: 0 0 12px 3px rgba(212, 212, 212, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.05);
	transition: opacity 0.2s;
	svg {
		width: 20px;
		height: 20px;
	}
}

.dark-mode {
	button {
		background-color: #1a1a1a;
		box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.05);
	}
}

.page-slide-right-enter-active button,
.page-slide-left-enter-active button {
	opacity: 0;
	transition: opacity 0s;
}
</style>
