<template>
	<footer>
		<div>
			<h2>{{ $t('app') }}</h2>
			<a
				href="https://apps.apple.com/us/app/minimal-cocktails/id1546888686"
				rel="noopener noreferrer"
			>
				App Store
			</a>
			<a
				href="https://play.google.com/store/apps/details?id=ink.wolves.cocktails"
				rel="noopener noreferrer"
			>
				Play Store
			</a>
		</div>
		<div>
			<h2>Seiten</h2>
			<nuxt-link to="/">Home</nuxt-link>
			<nuxt-link to="/cocktails">Cocktails</nuxt-link>
		</div>
		<div>
			<h2>Rechtliches</h2>
			<nuxt-link to="/datenschutz">Datenschutz</nuxt-link>
			<nuxt-link to="/impressum">Impressum</nuxt-link>
		</div>
		<div class="wolves">
			<p>Made live on <a href="https://0to100.ink">0to100</a></p>
			<p>Made by <a href="https://wolves.ink">Wolves</a></p>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'Footer',
}
</script>

<style lang="scss" scoped>
footer {
	display: grid;
	grid-gap: 24px;
	grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
	margin: 4em auto 2em;
	padding: 0 80px;
	max-width: 1360px;
	font-size: 0.9em;
	h2 {
		margin-bottom: 0.8em;
	}
	a {
		display: block;
		font-weight: 400;
		padding: 4px 0;
		transition: color 200ms;
		&:last-child {
			margin: 0;
		}
		&:hover {
			color: #f5a95d;
		}
	}
	div .nuxt-link-active {
		border-bottom: none;
	}
	@media (max-width: 600px) {
		padding: 0 40px;
	}
}

.wolves {
	align-self: flex-end;
	font-size: 1.2em;
	a {
		display: inline;
		font-weight: 600;
	}
}
</style>
