<template>
	<main class="page">
		<article>
			<svg
				class="save"
				:class="{ active: isSaved }"
				aria-hidden="true"
				focusable="false"
				role="img"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 384 512"
				@click="save"
			>
				<path
					fill="currentColor"
					d="M336 0H48C21.49 0 0 21.49 0 48v464l192-112 192 112V48c0-26.51-21.49-48-48-48zm0 428.43l-144-84-144 84V54a6 6 0 0 1 6-6h276c3.314 0 6 2.683 6 5.996V428.43z"
				></path>
			</svg>
			<Card class="head">
				<div>
					<img
						class="logo"
						src="~/assets/images/Logo.png"
						alt="Logo"
					/>
					<h1>{{ cocktail.name }}</h1>
					<p>{{ cocktail.short_description }}</p>
				</div>
				<img :src="`https://api.cocktails.ink${cocktail.image.path}`" />
			</Card>
			<div class="details">
				<h2>{{ $t('ingredients') }}</h2>
				<section class="slider ingredientsList">
					<IngrdientCard
						v-for="(ingredient, i) in cocktail.ingredients"
						:key="`ingredient-${i}`"
						:ingredient="ingredient.value"
					/>
				</section>
				<h2>{{ $t('steps') }}</h2>
				<section class="slider stepsList">
					<StepCard
						v-for="(step, i) in cocktail.steps"
						:key="`step-${i}`"
						:step="step.value"
						:order="i + 1"
					/>
				</section>
				<section v-if="cocktail.description">
					<h2>{{ $t('details') }}</h2>
					<p>{{ cocktail.description }}</p>
				</section>
				<section v-if="cocktail.time">
					<h2>{{ $t('time') }}</h2>
					<p>{{ cocktail.time }} min</p>
				</section>
			</div>
		</article>
	</main>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import Card from '~/components/general/Card'
import IngrdientCard from '~/components/cocktail/ingrdientCard'
import StepCard from '~/components/cocktail/stepCard'

export default {
	name: 'Cocktail',
	head() {
		title: `${this.cocktail.name} Cocktail | Minimal Cocktails`
	},
	components: {
		Card,
		IngrdientCard,
		StepCard,
	},
	computed: {
		...mapState(['collection']),
		...mapGetters(['getCocktail']),
		cocktail() {
			return this.getCocktail(this.$route.params.slug)
		},
		isSaved() {
			if (!this.cocktail) return null
			return this.collection.indexOf(this.cocktail._id) !== -1
		},
	},
	methods: {
		save() {
			if (process.env.mobile) {
				this.$Haptics.impact({
					style: 'MEDIUM',
				})
			}
			this.$store.dispatch('saveCocktail', this.cocktail._id)
		},
	},
}
</script>

<style lang="scss" scoped>
article {
	margin: 0 auto;
	max-width: 1200px;
}

.head {
	display: flex;
	margin-top: -10px;
	padding: 0 20px 2em;
	border-radius: 0 0 0 44px;
	> div {
		margin-top: 40px;
	}
	h1 {
		font-size: 2em;
		margin: 0 0 0.2em;
	}
	.logo {
		height: 2em;
		width: auto;
	}
	img {
		align-self: center;
		width: 120px;
		height: 100%;
	}
}

.ingredientsList > * {
	margin-right: 6px;
}

.details {
	padding: 0 20px;
}

@media (min-width: 600px) {
	.head {
		padding: 40px 80px 2em;
	}
	.details {
		padding: 0 80px;
	}
	.stepsList,
	.ingredientsList {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		width: unset;
		> * {
			margin: 0;
		}
	}
	.stepsList {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}
}

.save {
	position: absolute;
	right: 20px;
	top: 26px;
	padding: 0 12px;
	height: 24px;
	z-index: 101;
	transition: opacity 0.2s, color 200ms;
	&.active {
		color: #f5a95d;
	}
}

.mobile {
	.save {
		top: calc(env(safe-area-inset-top) + 18px);
	}
}

.page-slide-right-enter-active .save,
.page-slide-left-enter-active .save {
	opacity: 0;
	transition: opacity 0s;
}
</style>
