<template>
	<div class="page">
		<div class="filterButtons">
			<svg
				:class="{ active: currentFilter === 'alcohol' }"
				aria-hidden="true"
				focusable="false"
				data-prefix="fas"
				data-icon="wine-bottle"
				role="img"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 512 512"
				@click="toggleFilter('alcohol')"
			>
				<path
					fill="currentColor"
					d="M507.31 72.57L439.43 4.69c-6.25-6.25-16.38-6.25-22.63 0l-22.63 22.63c-6.25 6.25-6.25 16.38 0 22.63l-76.67 76.67c-46.58-19.7-102.4-10.73-140.37 27.23L18.75 312.23c-24.99 24.99-24.99 65.52 0 90.51l90.51 90.51c24.99 24.99 65.52 24.99 90.51 0l158.39-158.39c37.96-37.96 46.93-93.79 27.23-140.37l76.67-76.67c6.25 6.25 16.38 6.25 22.63 0l22.63-22.63c6.24-6.24 6.24-16.37-.01-22.62zM179.22 423.29l-90.51-90.51 122.04-122.04 90.51 90.51-122.04 122.04z"
				></path>
			</svg>
		</div>
		<transition name="filter">
			<div
				v-if="currentFilter === 'alcohol'"
				class="slider alcohol filter"
			>
				<BottleCard
					v-for="bottle in alcohol"
					:key="bottle.name"
					:bottle="bottle"
					:active="$route.query.alcohol === bottle._id"
					@click="filter('alcohol', bottle._id)"
				/>
			</div>
		</transition>

		<main>
			<h2>
				{{ $t('cocktails') }}
				<span v-if="currentBottle">
					{{ $t('with') }} {{ currentBottle.name }}</span
				>
			</h2>
			<transition-group name="slide" tag="div" class="cocktails">
				<CocktailCard
					v-for="cocktail in filteredCocktails"
					:key="cocktail._id"
					class="cocktail"
					:cocktail="cocktail"
				/>
			</transition-group>
		</main>
	</div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import BottleCard from '~/components/cocktail/bottleCard.vue'
import CocktailCard from '~/components/cocktail/cocktailCard.vue'

export default {
	name: 'Cocktails',
	components: {
		BottleCard,
		CocktailCard,
	},
	data() {
		return {
			currentFilter: null,
		}
	},
	methods: {
		toggleFilter(name) {
			if (this.currentFilter !== name) {
				this.currentFilter = name
			} else {
				this.currentFilter = null
			}
		},
		filter(type, id) {
			if (type === 'alcohol') {
				if (this.$route.query.alcohol === id) {
					this.$router.push({ query: { alcohol: null } })
				} else {
					this.$router.push({ query: { alcohol: id } })
				}
			}
		},
	},
	computed: {
		...mapState(['alcohol']),
		...mapGetters({
			cocktails: 'getCocktails',
			getBottle: 'getBottle',
		}),
		currentBottle() {
			if (!this.$route.query.alcohol) return null
			return this.getBottle(this.$route.query.alcohol)
		},
		filteredCocktails() {
			return this.cocktails.filter((cocktail) => {
				if (!this.$route.query.alcohol) return true
				return (
					cocktail.alcohol.findIndex(
						(alc) => alc._id === this.$route.query.alcohol
					) !== -1
				)
			})
		},
	},
}
</script>

<style lang="scss" scoped>
.page {
	padding: 10px 20px 40px;
}

main,
.filter {
	margin: 0 auto;
	max-width: 1200px;
}

.cocktails {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	@media (max-width: 500px) {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}

.filter {
	max-height: 400px;
	&.alcohol > * {
		margin-right: 6px;
	}
}

.filterButtons {
	position: absolute;
	right: 20px;
	top: 26px;
	z-index: 101;
	transition: opacity 0.2s;
	svg {
		padding: 0 12px;
		height: 24px;
		transition: color 200ms;
		&.active {
			color: #f5a95d;
		}
	}
}

.page-slide-right-enter-active .filterButtons,
.page-slide-left-enter-active .filterButtons {
	opacity: 0;
	transition: opacity 0s;
}

.mobile {
	.filterButtons {
		top: 66px;
	}
}

@media (min-width: 600px) {
	.page {
		padding: 20px 80px 40px;
	}
}

.filter-enter-active {
	transition: max-height 100ms, transform 200ms 100ms;
}

.filter-leave-active {
	transition: max-height 100ms 200ms, transform 200ms;
}

.filter-enter, .filter-leave-to /* .filter-leave-active below version 2.1.8 */ {
	max-height: 0;
	transform: translateX(100vw);
}

.slide-enter-active,
.slide-leave-active {
	transition: transform 100ms;
}

.slide-enter,
.slide-leave-to {
	transform: translateX(100vw);
}
</style>
